* {
 box-sizing: border-box;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html {
 height: 100%;
 padding: 0;
 margin: 0;
 font-family: sans-serif;
 color: #333;
}

a {
 text-decoration: none;
 color: #00b0d6;
 font-weight: bold;
 transition: color .1s;
 font-size: 2vw;
}

a:hover {
 color: #57d7f2;
}

button {
 background-color: #00b0d6;
 border: 0.1vw solid black;
 padding: 1%;
 color: white;
 font-weight: bold;
 transition: background-color .1s;
 cursor: pointer;
 border-radius: 5px;
}

button:hover {
 background-color: #57d7f2;
}

.post-list {
 
 
 justify-content: center;
 margin-top: 2vh;
 padding: 2vw;
 
}

.card-page{
 align-items: center;
}

textarea, input {
 padding: .5%;
 border-radius: 5px;
 border: 1px solid black;
}

textarea:focus, input:focus {
 outline: none;
 border: 1px solid #00b0d6;
}

textarea {
 display: flex;
 justify-content: center;
 min-width: 40%;
 min-height: 100px;
}

form > div {
 margin-bottom: 2%;
}

form label {
 display: block;
}

.wrapper {
 width: 100%;
 min-height: 100%;
 max-width: 1200px;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}

header {
 border-bottom: 1px solid black;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 1%;
}

header h1 a {
 font-size: 5vw;
 text-align: center;
 padding: 2vw;
}

main {
 flex: 1;
 padding: 2% 4%;
}

.btn-no-style {
 background: none;
 border: none;
 padding: 0;
 cursor: pointer;
 text-decoration: none;
 color: #00b0d6;
 font-size: 100%;
 font-weight: bold;
 transition: color .1s;
 margin-left: 5px;
}

.btn-no-style:hover {
 background: none;
 color: #57d7f2;
}

.delete-post-btn {
 background-color: #d41414;
}

.delete-post-btn:hover {
 background-color: #ff643d;
}

.post {
 margin-bottom: 5px;
 line-height: 150%;
}

.post-holder{
 margin: 2%;
 text-align: center;
}

.post-list {
 justify-content: space-between;
}

.post .title span {
 font-style: italic;
 font-size: 90%;
 color: #5b5b5b;
}

.post .meta {
 margin-top: 2vh;
}

.edit-link {
 display: block;
 margin: -1.5% 0 2% 0;
}


.comment-form {
 margin-bottom: 5%;
}

.comment {
 padding: 1%;
 margin-bottom: 1%;
}

.comment:nth-child(odd) {
 background-color: #fff5eb;
}

.comment .meta {
 font-size: 90%;
 margin-bottom: .5%;
 opacity: .6;
}

.new-post-form input {
 width: 300px;
}

.edit-post-form {
 margin-bottom: 5%;
}

footer {
 border-top: 1px solid #ccc;
 display: flex;
 justify-content: center;
 padding: 1%;
 font-size: 110%;
}